.playwright-card{

    background:white;

    border-radius:16px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.code-header{

    background:#111827;

    color:white;

    padding:15px;

}

.playwright-card pre{

    padding:20px;

    background:#1E293B;

    color:#22C55E;

    overflow:auto;

}